@model HomeViewModel


<partial name="_Carousel" />

<h2 class="text-center text-info"> Pies of the week </h2>
<h3>Our weekly selection just for you!</h3>
<div class="row">
    @foreach (var pie in Model.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }
</div>